.introBg {
  background-image: url("/assets/img/acai5.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.bgRoxo {
  background-image: url("/assets/img/purpleBg.svg");
  color: white;
}

.bgWhite {
  color: var(--primary-color);
  background-color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentBox {
  height: 80vh;
  width: 100vw;
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
}
.productContainer {
  height: 70vh;
  font-size: 2rem;
  display: flex;
  transition: all ease .8s;
  overflow-x: hidden;
}

.textContainer{
  padding: 3rem;
  width: 45rem;
}

.imgContainer{
  margin: 2rem;
  width: 50rem;
}

.video{
  width: 50rem;
  height: 40rem;
  border-radius: 5px;
}

.mapContainer iframe{
  width: 45rem;
  height: 35rem;
  border-radius: 5px;
}

.iconsContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonLeft{
  left: 0;
  font-size: 5rem;
  position: absolute;
  z-index: 1;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.buttonRight{
  right: 0;
  font-size: 5rem;
  position: absolute;
  z-index: 1;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width:650px){
  .contentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textContainer{
    margin-top: -5rem;
  }
  .introBg{
    background-image: url("/assets/img/acai3.jpg");
  }

  .video{
    width: 40rem;
    height: 30rem;
  }

  .mapContainer iframe{
    width: 40rem;
    height: 30rem;
    margin: 0;
  }

  .productContainer{
    overflow-x: hidden;
  }

  .imgContainer{
    margin: 2rem;
    width: 33 em;
  }

}




