.introBg {
  background-image: url("/assets/img/intro_background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.bgRoxo {
  background-image: url("/assets/img/purpleBg.svg");
  color: white;
  width: 100vw;
}

.bgWhite {
  color: var(--primary-color);
  background-color: white;
  width: 100vw;

}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentBox {
  height: 70vh;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
}
.productContainer {
  height: 70vh;
  font-size: 2rem;
  display: flex;
  overflow-x: hidden;
}

.textContainer{
  padding: 3rem;

}

.imgContainer{
  margin: 5rem;
}

.video{
  width: 50rem;
  height: 40rem;
  border-radius: 5px;
}

.mapContainer iframe{
  width: 45rem;
  height: 35rem;
  border-radius: 5px;
  margin: 5rem;
}

.iconsContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width:650px){
  .contentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textContainer{
    margin-top: -5rem;
  }

  .video{
    width: 40rem;
    height: 30rem;
  }

  .mapContainer iframe{
    width: 40rem;
    height: 30rem;
    margin: 0;
  }

}


