.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: transparent;
  width: 210vh;
  z-index: 10;

}
.list ul{
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 80px;

}

.list li{
  padding: 10px 20px;
  font-size: 2rem;
  color: white;
  font-size: 2.5rem;
  font-weight:700
}
