.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 210vh;
  z-index: 10;
  transition: all ease 600ms;
}

.img {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
  transition: all ease 400ms;
  transform: scale(0.9);
}

.list ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 80px;
}

.list li {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.list li a {
  font-size: 1.5rem;
}

.list a:after {
  top: 0px;
  border-radius: 5px;
  left: 0%;
  width: 0;
  height: 4px;
  background: #fbea03;
  display: block;
  content: "";
  transition: 0.35s ease-in-out;
}
.list a:hover:after {
  width: 100%;
}

@media (max-width: 450px) {
  .list a {
    display: inline-block;
  }
  .header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start ;
  }
}
