.productRow {
  width: 100rem;
}

.listArea {
  width: 1500px;
  margin: 0 10px;
  transition: all ease 500ms;
  overflow: hidden;
}

.productList {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  transition: all ease 500ms;
}

.productList img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 500ms;
}

.productList img:hover {
  transform: scale(1);
}

.productListItem {
  width: 100%;
  margin-left: 20rem;
}
.productListItem h2{
  margin-left: 1.4rem;
  width: 20rem;

}

.productInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.productDescription{
  width: 40rem;

}

.productImage{
  width: 35rem;
}


